.column {
  background: var(--COLOR-GRAY-DARK);
  min-height: 20rem;
  width: 33%;
  max-width: 20rem;
  margin: 0 1rem;
  border-radius: 4px;
  padding: 0.5em;
}

.title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title_wrapper p {
  color: #fff;
}

.title_wrapper button {
  color: #000;
  background: #fff;
  padding: 0.5rem;
  border-radius: 4px;
  height: fit-content;
}

.title_wrapper button:hover {
  background: var(--COLOR-GRAY-LIGHT);
  cursor: pointer;
}

.modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_content {
  display: flex;
  gap: 2rem;
  align-items: center;
  background: #fff;
  z-index: 1;
  padding: 1rem;
  border-radius: 4px;
}

.modal_content input {
  padding: 1rem;
}

.modal_content button {
  padding: 1rem 2rem;
  color: #fff;
  background: #000;
  border-radius: 4px;
}
